.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #ffffff;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  line-height: 1.2;
}

.m-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0 45px 0;
  background: url("../images/header_bg.jpg") no-repeat center center;
  background-size: cover;
  z-index: 11;
  &_transparent {
    padding: 15px 0;
    background: transparent !important;
  }
  &__toggle {
    display: none;
  }
  &__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 18px;
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__info {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e7796d;
        text-decoration: none;
      }
    }
  }
  &__call {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #e7796d;
    font-size: 14px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 17px;
      max-height: 17px;
      margin: 0 5px 0 0;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__logo {
    display: inline-block;
    margin: 5px 20px 0 0;
    img,
    svg {
      display: block;
      max-width: 165px;
      max-height: 50px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__row {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 14px;
    border-bottom: 1px solid #ffffff;
  }
  &__text {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  &__basket {
    display: inline-block;
    position: relative;
    &-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -6px;
      right: -8px;
      width: 18px;
      height: 18px;
      border-radius: 999rem;
      background-color: #e7796d;
      color: #ffffff;
      line-height: 1;
      font-size: 11px;
      font-weight: 500;
      text-align: center;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      display: none;
      position: absolute;
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 12;
    }
    li {
      position: relative;
      &:hover {
        & > ul {
          display: block;
        }
      }
    }
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
        padding: 8px 18px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background: #e7796d;
          color: #ffffff;
          text-decoration: none;
        }
      }
      &:hover {
        & > a {
          background: #e7796d;
        }
      }
      & > ul {
        top: 100%;
        left: 0;
        width: 270px;
        background-color: #ffffff;
        & > li {
          & > a {
            display: block;
            padding: 10px 18px;
            color: #1a1a1a;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.33;
            cursor: pointer;
            text-decoration: none;
            transition: all 0.2s ease-out;
            &:hover {
              background: #cfe3e5;
              color: #1a1a1a;
              text-decoration: none;
            }
          }
          &:hover {
            & > a {
              background: #cfe3e5;
            }
          }
          & > ul {
            top: 0;
            left: 100%;
            width: 200px;
            background-color: #cfe3e5;
            & > li {
              & > a {
                display: block;
                padding: 12px 18px;
                color: #1a1a1a;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.33;
                cursor: pointer;
                text-decoration: none;
                transition: all 0.2s ease-out;
                &:hover {
                  background: #bbd5d8;
                  color: #1a1a1a;
                  text-decoration: none;
                }
              }
              &:hover {
                & > a {
                  background: #bbd5d8;
                }
              }
              & > ul {
                top: 0;
                left: 100%;
                width: 200px;
                background-color: #bbd5d8;
                & > li {
                  & > a {
                    display: block;
                    padding: 12px 18px;
                    color: #1a1a1a;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.33;
                    cursor: pointer;
                    text-decoration: none;
                    transition: all 0.2s ease-out;
                    &:hover {
                      background: #a8c7ca;
                      color: #1a1a1a;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.m-top {
  display: block;
  position: relative;
  height: 700px;
  margin-top: -117px;
  background: url("../images/home_top.jpg") no-repeat center center;
  background-size: cover;
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    padding: 230px 0 250px;
    &__title {
      display: block;
      position: relative;
      max-width: 500px;
      height: 168px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #ffffff;
      font-size: 70px;
      font-weight: 700;
      text-transform: uppercase;
      z-index: 2;
    }
    &__text {
      display: block;
      position: relative;
      max-width: 400px;
      height: 72px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      z-index: 2;
    }
    &__link {
      display: inline-block;
      position: relative;
      padding: 54px 20px;
      border: 2px solid #e7796d;
      border-radius: 999rem;
      background: transparent;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      z-index: 2;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 50%;
        left: 100%;
        width: 304px;
        height: 2px;
        margin-left: 30px;
        background-color: #e7796d;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #e7796d;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 895px;
      height: 750px;
      background-position: center center;
      background-size: cover;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: auto;
    bottom: 75px;
    width: auto;
    margin: 0;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    right: auto;
    left: 0;
  }
  .swiper-button-next {
    right: auto;
    left: 85px;
  }
}

.m-home-services {
  display: block;
  position: relative;
  padding: 300px 0 50px 0;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    margin: 0 1px 1px 0;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 290px;
      min-height: 550px;
      padding: 30px;
      background-color: #f2f2f2;
      transition: all 0.2s ease-out;
    }
    &__image {
      display: block;
      max-width: 100px;
      max-height: 100px;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      margin: 35px 0 0 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
      transition: all 0.2s ease-out;
    }
    &__text {
      display: block;
      height: 0;
      overflow: hidden;
      margin: 14px 0 0 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
    &__price {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0.5;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .m-home-services-card__content {
        background: transparent;
      }
      .m-home-services-card__image {
        filter: brightness(0) invert(1);
      }
      .m-home-services-card__title {
        color: #ffffff;
      }
      .m-home-services-card__price {
        color: #ffffff;
      }
      .m-home-services-card__text {
        height: auto;
      }
      text-decoration: none;
    }
  }
}

.m-consult {
  display: block;
  position: relative;
  padding: 50px 0;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 40px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__input {
    display: block;
    position: relative;
    margin: 10px 0;
    input {
      display: block;
      position: relative;
      width: 450px;
      padding: 26px 18px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #00434a;
      background: transparent;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-radius: 999rem;
      background-color: #00434a;
    }
  }
  &__info {
    display: block;
    margin: 8px 0 0 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 54px 20px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-home-what {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 0 315px;
    color: #00434a;
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 25px;
      right: 100%;
      width: calc((100vw - 1200px) / 2 + 300px);
      height: 190px;
      margin-right: 45px;
      background: url("../images/home_before.jpg") no-repeat center center;
      background-size: cover;
    }
  }
  &__wrap {
    display: block;
    position: relative;
    margin-top: -100px;
  }
  &__subtitle {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  &__content {
    display: block;
    position: relative;
    p {
      display: block;
      margin: 20px 0 0 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  &-card {
    display: block;
    position: relative;
    margin: 50px 0 0 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    img,
    svg {
      display: block;
      max-width: 42px;
      max-height: 42px;
      margin-top: 5px;
    }
  }
  &__link {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 85px 0 0 0;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 100%;
      width: 304px;
      height: 2px;
      margin-left: 70px;
      background-color: #e7796d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-home-goods {
  display: block;
  position: relative;
  padding: 50px 0;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    &_page {
      .m-home-goods-card {
        max-width: 289px;
      }
    }
  }
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 291px;
    min-height: 344px;
    margin: 0 1px 1px 0;
    padding: 30px;
    background: #f2f2f2;
  }
  &__link {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 291px;
    margin: 0 1px 1px 0;
    padding: 10px 30px 30px 30px;
    background: #f2f2f2;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 190px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__info {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      opacity: 0.5;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
    &__title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0 0 22px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 25px 0 0 0;
      border-top: 1px solid #cacaca;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
    &__basket {
      display: inline-flex;
      align-items: center;
      color: #00434a;
      font-size: 14px;
      font-weight: 500;
      img,
      svg {
        display: block;
        max-width: 20px;
        max-height: 20px;
        margin-right: 8px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .m-home-goods-card__title {
        color: #ffffff;
      }
      .m-home-goods-card__info {
        color: #ffffff;
      }
      .m-home-goods-card__row {
        border-color: #cacaca;
      }
      .m-home-goods-card__price {
        color: #ffffff;
      }
      .m-home-goods-card__basket {
        color: #ffffff;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      background: #00434a;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-specs {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 0;
  &__content {
    display: block;
    position: relative;
    min-height: 440px;
    background: #ffffff;
    z-index: 9;
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      background: #ffffff;
      z-index: 9;
    }
  }
  &__title {
    display: block;
    margin: 0 0 230px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    overflow: visible !important;
  }
  &-card {
    display: block;
    position: relative;
    width: 250px;
    &__image {
      display: block;
      width: 100%;
      height: 320px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 17px 0 14px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 500;
    }
    &__text {
      display: block;
      margin: 0;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
    &__info {
      display: block;
      margin: 14px 0 0 0;
      opacity: 0.5;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
    filter: grayscale(1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-slide {
    width: auto !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 60px;
  }
  &_about {
    padding: 50px 0;
    .m-specs__title {
      margin: 0;
    }
    .m-specs-card {
      margin: 65px auto 0 auto;
    }
  }
  &__reload {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 70px 0 30px 0;
    color: #00434a;
    font-size: 16px;
    font-weight: 700;
    img,
    svg {
      display: inline-block;
      max-width: 20px;
      max-height: 20px;
      margin-right: 10px;
      transition: all 0.5s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: rotate(360deg);
      }
      text-decoration: none;
    }
  }
}

.m-home-reviews {
  display: block;
  position: relative;
  padding: 110px 0 80px 0;
  background: url("../images/reviews_bg.jpg") no-repeat center center;
  background-size: cover;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 0 45px 0;
  }
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 500px;
    padding: 27px 30px;
    border: 2px solid #e7796d;
    background-color: transparent;
    &__name {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
    }
    &__date {
      display: block;
      margin: 10px 0 20px 0;
      opacity: 0.5;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    &__text {
      display: block;
      max-height: 336px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__link {
      display: block;
      margin: 15px 0 0 0;
      color: #e7796d;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e7796d;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 60px 0 0 0;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 100%;
      width: 970px;
      height: 2px;
      margin-left: 70px;
      background-color: #e7796d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0) invert(1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 40px;
  }
}

.m-home-contacts {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 85px 0 55px 0;
  background-color: #f2f2f2;
  #map {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100vw - 1200px) / 2 + 750px);
    height: 100%;
    z-index: 5;
  }
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    margin: 30px 0 10px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
  }
  &__info {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__phone {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__select {
    display: inline-block;
    select {
      width: 350px;
      padding: 16px 22px;
      border: 0;
      outline: none;
      -webkit-appearance: none;
      background: #ffffff url("../images/icon_select.png") no-repeat right 20px center;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.m-papers {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 0 50px 0;
  &__content {
    display: block;
    position: relative;
    min-height: 320px;
    background: #ffffff;
    z-index: 9;
    &:before {
      display: block;
      position: absolute;
      content: "";
      right: 100%;
      top: 0;
      width: 50vw;
      height: 100%;
      background: #ffffff;
      z-index: 9;
    }
  }
  &__title {
    display: block;
    margin: 0 0 225px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    overflow: visible !important;
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 320px;
    background-color: #f2f2f2;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #00434a;
      text-decoration: none;
    }
  }
  .swiper-slide {
    width: auto !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 60px;
  }
}

.m-home-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0 100px 0;
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.m-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 30px 0;
  background-color: #002b2f;
  &__logo {
    display: inline-block;
    margin: 0 0 40px 0;
    img,
    svg {
      display: block;
      max-width: 165px;
      max-height: 50px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e7796d;
        text-decoration: none;
      }
    }
  }
  &__call {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #e7796d;
    font-size: 14px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 17px;
      max-height: 17px;
      margin: 0 5px 0 0;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 35px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 10px 0;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #e7796d;
          text-decoration: none;
        }
      }
    }
  }
  &__link {
    display: block;
    margin: 0 0 23px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__subnav {
    display: block;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 12px 0;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #e7796d;
          text-decoration: none;
        }
      }
    }
  }
}

.m-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 0;
  background-color: #00434a;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__pay {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      position: relative;
      max-width: 30px;
      max-width: 30px;
      margin: 0 0 0 10px;
    }
  }
  &__social {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      margin: 0 0 0 20px;
      color: #ffffff;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e7796d;
        text-decoration: none;
      }
    }
  }
}

.m-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f2f2f2;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 30px 0;
    padding: 40px;
    border-radius: 0;
    border: 0;
    background: transparent;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 14px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    input {
      display: block;
      position: relative;
      width: 100%;
      padding: 26px 18px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #00434a;
      background: transparent;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-radius: 999rem;
      background-color: #00434a;
    }
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  &__select {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    select {
      width: 100%;
      padding: 16px 40px 16px 22px;
      border: 0;
      outline: none;
      -webkit-appearance: none;
      background: #ffffff url("../images/icon_select.png") no-repeat right 20px center;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__info {
    display: block;
    margin: 20px 0 0 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  &__button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 30px 0 0 0;
    padding: 10px;
    border: 2px solid #e7796d;
    outline: none;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-season {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #f2f2f2;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 30px 0;
    padding: 20px 15px;
    border-radius: 0;
    border: 0;
    background: transparent;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  &__subtitle {
    display: block;
    width: 100%;
    margin: 0 0 14px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 40px 0;
    input {
      display: block;
      position: relative;
      width: 100%;
      padding: 26px 18px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #00434a;
      background: transparent;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-radius: 999rem;
      background-color: #00434a;
    }
  }
  &__hr {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    margin-bottom: 50px;
    background-color: #1a1a1a;
    opacity: 0.5;
  }
  &__price {
    display: block;
    margin: 25px 0 0 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    b,
    strong {
      color: #00434a;
      font-size: 24px;
      font-weight: 500;
    }
  }
  &__select {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    select {
      width: 100%;
      padding: 16px 40px 16px 22px;
      border: 0;
      outline: none;
      -webkit-appearance: none;
      background: #ffffff url("../images/icon_select.png") no-repeat right 20px center;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__info {
    display: block;
    margin: 50px 0 0 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 30px 0 0 60px;
    padding: 10px;
    border: 2px solid #e7796d;
    outline: none !important;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
    &_alt {
      border-color: #00434a !important;
      &:hover {
        background: #00434a !important;
      }
    }
  }
}

.m-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: -30px 0 16px 0;
  padding: 0 0 0 180px;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  li {
    position: relative;
    z-index: 20;
  }
  a {
    display: inline-block;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-goods {
  display: block;
  position: relative;
  padding: 60px 0 50px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding: 0 0 50px 0;
  }
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
  }
  &__sort {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    color: rgba(26, 26, 26, 0.5);
    font-size: 18px;
    font-weight: 500;
  }
  &__radio {
    display: inline-block;
    margin: 0 0 0 40px;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        color: #00434a;
        text-decoration: underline;
      }
    }
    & > div {
      color: #1a1a1a;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 25px 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
  }
  &__link {
    display: block;
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid rgba(26, 26, 26, 0.5);
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 700;
    &_active {
      border-color: transparent !important;
      color: #00434a !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #00434a;
      text-decoration: none;
    }
  }
  &__nav {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: block;
      & > a {
        display: block;
        margin: 0 0 16px 0;
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #e7796d;
          text-decoration: none;
        }
      }
      & > ul {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 0 0 16px;
        list-style: none;
        li {
          display: block;
        }
        a {
          display: block;
          margin: 0 0 16px 0;
          color: #1a1a1a;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            color: #e7796d;
            text-decoration: none;
          }
        }
      }
    }
  }
  &-tags {
    display: block;
    position: relative;
    padding: 50px 0;
    &__title {
      display: block;
      margin: 0 0 5px 0;
      color: #1a1a1a;
      font-size: 30px;
      font-weight: 700;
    }
    &__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      position: relative;
      width: 100%;
    }
    &-card {
      display: block;
      position: relative;
      margin: 20px 20px 0 0;
      padding: 12px 24px;
      border-radius: 999rem;
      border: 1px solid #ababab;
      background-color: #ffffff;
      color: rgba(26, 26, 26, 0.5);
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #f2f2f2;
        color: rgba(26, 26, 26, 0.5);
        text-decoration: none;
      }
    }
  }
  &-seo {
    display: block;
    position: relative;
    padding: 50px 0;
    &__title {
      display: block;
      margin: 0 0 22px 0;
      color: #1a1a1a;
      font-size: 30px;
      font-weight: 700;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }
}

.m-pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 50px 0 15px 0;
  list-style: none;
  li {
    display: inline-block;
    &:first-child,
    &:last-child {
      a {
        border: 0 !important;
        &:hover {
          img,
          svg {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0 20px 20px 0;
      padding: 4px;
      border: 1px solid #00434a;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #00434a;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &_active {
    a {
      background-color: #00434a !important;
      color: #ffffff !important;
    }
  }
  &_disabled {
    a {
      border: 0 !important;
    }
    cursor: default !important;
    pointer-events: none;
  }
}

.m-good {
  display: block;
  position: relative;
  padding: 70px 0 50px 0;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f2f2f2;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    position: relative;
    margin: 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
  &__choose {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    padding: 35px 0 10px 0;
    color: rgba(26, 26, 26, 0.5);
    font-size: 18px;
    font-weight: 500;
  }
  &__radio {
    display: inline-block;
    margin: 0 0 0 30px;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        color: #00434a;
        text-decoration: underline;
      }
    }
    & > div {
      color: #1a1a1a;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__oldprice {
    display: block;
    margin: 0 0 20px 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-decoration: line-through;
  }
  &__price {
    display: block;
    margin: 0;
    color: #00434a;
    font-size: 24px;
    font-weight: 500;
  }
  &__counter {
    display: flex;
    align-items: stretch;
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  &__input {
    display: inline-block;
    position: relative;
    width: 70px;
    border: 0;
    outline: none;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    padding: 9px 2px;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  &__minus,
  &__plus {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 44px;
    border: 1px solid #ababab;
    background-color: #ffffff;
    img,
    svg {
      display: block;
      max-width: 18px;
      max-height: 18px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #ababab;
      text-decoration: none;
    }
  }
  &__minus {
    border-radius: 999rem 0 0 999rem;
    border-right-color: transparent;
  }
  &__plus {
    border-radius: 0 999rem 999rem 0;
    border-left-color: transparent;
  }
  &__button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-more {
  display: block;
  position: relative;
  padding: 50px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 40px;
  }
}

.m-service {
  display: block;
  position: relative;
  padding: 70px 0 50px 0;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    position: relative;
    margin: 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 500px;
  }
  &__price {
    display: block;
    flex: 1 1 auto;
    margin: 0;
    padding: 35px 0;
    color: #00434a;
    font-size: 24px;
    font-weight: 500;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &__button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 30px 75px 0 0;
    padding: 10px;
    border: 2px solid #e7796d;
    outline: none;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
    &_alt {
      border-color: #00434a;
      &:hover {
        background: #00434a;
      }
    }
  }
}

.m-another {
  display: block;
  position: relative;
  padding: 50px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 320px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 15px 0 0 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    filter: grayscale(1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 40px;
  }
}

.m-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #00434a;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 80px;
      margin-bottom: -3px;
      padding: 15px 0;
      border-bottom: 4px solid transparent;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      &.current {
        border-color: #e7796d;
        color: #1a1a1a;
        font-weight: 700;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    min-height: 270px;
    margin: 35px 0 0 0;
    padding: 55px 85px;
    border: 1px solid #ffffff;
    background-color: #f2f2f2;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
    p {
      margin: 25px 0 0 0;
    }
    &.current {
      display: block;
    }
  }
}

.m-tabs__content {
  .m-consult__input input {
    width: 370px;
  }
  .m-consult__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 127px;
    height: 127px;
    padding: 4px;
  }
  .m-consult__text {
    margin-bottom: 10px;
  }
  .table {
    margin: 20px 0 0 0;
  }
  .table td,
  .table th {
    padding: 15px 4px;
    border: 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    &:last-child {
      text-align: right;
    }
  }
  .table td {
    border-top: 1px solid #b9b9b9;
  }
  .table thead th {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
  }
}

.m-learn {
  display: block;
  position: relative;
  padding: 50px 0 5px 0;
  &__cards {
    display: block;
    position: relative;
    padding: 0;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    background-color: #f2f2f2;
    &__image {
      display: block;
      position: relative;
      width: 100%;
      height: 270px;
      background-position: center center;
      background-size: cover;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      min-height: 300px;
      padding: 36px 40px;
    }
    &__title {
      display: block;
      margin: 0 0 10px 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
    }
    &__text {
      display: block;
      flex: 1 1 auto;
      max-height: 103px;
      overflow: hidden;
      margin: 0;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      width: 100%;
      padding: 20px 0 0 0;
    }
    &__info {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
    }
    &__oldprice {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      text-decoration: line-through;
    }
    &__price {
      display: block;
      margin: 0;
      color: #00434a;
      font-size: 24px;
      font-weight: 500;
    }
    &__button {
      display: block;
      position: relative;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 700;
      transform-style: preserve-3d;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 50%;
        left: -16px;
        width: 47px;
        height: 47px;
        margin-top: -22px;
        border: 2px solid #e7796d;
        border-radius: 999rem;
        background-color: transparent;
        transform: translateZ(-1px);
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .m-learn-card__button:before {
        background: #e7796d;
      }
      text-decoration: none;
    }
  }
}

.m-learning {
  display: block;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 147px);
  padding: 190px 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
  &__link {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 130px 0 0 0;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 50%;
      top: 100%;
      width: 2px;
      height: 94px;
      margin-top: 35px;
      background-color: #e7796d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 147px);
  padding: 40px 0;
  background-color: #142f35;
  background-position: center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 580px;
    min-height: 255px;
    margin: 0 1px 1px 0;
    padding: 50px;
    padding-top: 30px;
    background-color: #f2f2f2;
    &__image {
      display: flex;
      align-items: center;
      width: 100%;
      height: 75px;
      margin-bottom: 10px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__text {
      display: block;
      margin: 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
  }
}

.m-about-seo {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 22px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.m-gallery {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0 30px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    overflow: visible !important;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    height: 400px;
    margin: 0 auto;
    outline: none;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: grayscale(1);
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 40px;
  }
}

.m-article {
  display: block;
  position: relative;
  padding: 150px 0 190px 0;
  background-position: center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 30px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 420px;
    padding-top: 40px;
  }
  &__oldprice {
    display: block;
    margin: 0 0 18px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
  }
  &__price {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
  }
  &__button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 0;
    padding: 10px;
    border: 2px solid #e7796d;
    outline: none;
    border-radius: 999rem;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-article-content {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 20px 0;
    color: #1a1a1a;
    font-weight: 700;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 10px;
  }
  p {
    display: block;
    margin: 0 0 30px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.5;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 60px 70px;
    border-left: 5px solid #e7796d;
    background-color: #f2f2f2;
    color: #1a1a1a;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 1.5;
  }
  ul {
    display: block;
    position: relative;
    margin: 30px 0;
    padding: 0 0 0 60px;
    li {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
      &:before {
        display: block;
        position: absolute;
        right: 100%;
        margin-right: 5px;
        content: "— ";
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 1.5;
      }
    }
  }
  .table {
    margin: 0 0 30px 0;
  }
  .table td,
  .table th {
    padding: 15px 4px;
    border: 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    &:last-child {
      text-align: right;
    }
  }
  .table td {
    border-top: 1px solid #b9b9b9;
  }
  .table thead th {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
  }
}

.m-buy {
  display: block;
  position: relative;
  padding: 110px 0;
  background-color: #f2f2f2;
  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc((100vw - 1200px) / 2 + 330px);
    background: url("../images/buy_bg.png") no-repeat center center;
    background-size: cover;
  }
  &__title {
    display: block;
    position: relative;
    margin: 20px 0 225px 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
    z-index: 2;
  }
  &__input {
    display: block;
    position: relative;
    margin: 0 0 35px 0;
    input {
      display: block;
      position: relative;
      width: 100%;
      padding: 26px 18px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #00434a;
      background: transparent;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-radius: 999rem;
      background-color: #00434a;
    }
  }
  &__info {
    display: block;
    position: relative;
    margin: 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 10px 0 0 50px;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
    &_alt {
      border-color: #00434a;
      &:hover {
        background: #00434a;
      }
    }
  }
}

.m-courses {
  display: block;
  position: relative;
  padding: 50px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    margin: 0;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    filter: brightness(0);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      filter: none;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 40px;
  }
}

.m-basket {
  display: block;
  position: relative;
  padding: 60px 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
  }
  &__header {
    display: block;
    position: relative;
    padding: 14px 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    background-color: #f2f2f2;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 150px;
      padding: 10px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #1a1a1a;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.5;
    }
    &__info {
      display: block;
      margin: 30px 0 0 0;
      opacity: 0.5;
      color: #1a1a1a;
      font-size: 14px;
      font-weight: 400;
    }
    &__price {
      display: block;
      margin: 10px 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }
    &__summ {
      display: block;
      margin: 10px 0;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }
    &__delete {
      display: block;
      opacity: 0.2;
      img,
      svg {
        max-width: 32px;
        max-height: 32px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }
    &__counter {
      display: flex;
      align-items: stretch;
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
    &__input {
      display: inline-block;
      position: relative;
      width: 70px;
      border: 0;
      outline: none;
      border-top: 1px solid #ababab;
      border-bottom: 1px solid #ababab;
      padding: 9px 2px;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
    &__minus,
    &__plus {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 60px;
      height: 44px;
      border: 1px solid #ababab;
      background-color: #ffffff;
      img,
      svg {
        display: block;
        max-width: 18px;
        max-height: 18px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #ababab;
        text-decoration: none;
      }
    }
    &__minus {
      border-radius: 999rem 0 0 999rem;
      border-right-color: transparent;
    }
    &__plus {
      border-radius: 0 999rem 999rem 0;
      border-left-color: transparent;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 40px 0;
  }
  &__link {
    display: inline-block;
    position: relative;
    border: 0;
    outline: none;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    transform-style: preserve-3d;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: -16px;
      width: 47px;
      height: 47px;
      margin-top: -22px;
      border: 2px solid #e7796d;
      border-radius: 999rem;
      background-color: transparent;
      transform: translateZ(-1px);
      transition: all 0.2s ease-out;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:before {
        background: #e7796d;
      }
      color: #1a1a1a;
      text-decoration: none;
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__final {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 100px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
  &__summ {
    display: block;
    margin: 0;
    color: #00434a;
    font-size: 24px;
  }
}

.m-order {
  display: block;
  position: relative;
  padding: 50px;
  border: 1px solid #ffffff;
  background-color: #f2f2f2;
  &__title {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    margin: 55px 0 15px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
  }
  textarea {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px 24px;
    border: 0;
    outline: none;
    background-color: #ffffff;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
  }
  &__input {
    display: block;
    position: relative;
    margin: 0 0 10px 0;
    input {
      display: block;
      position: relative;
      width: 100%;
      padding: 24px 18px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #00434a;
      background: transparent;
      color: #1a1a1a;
      font-size: 20px;
      font-weight: 500;
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      border-radius: 999rem;
      background-color: #00434a;
    }
  }
  &__radio {
    display: inline-block;
    margin: 30px 40px 10px 0;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        opacity: 1;
        color: #00434a;
        text-decoration: underline;
      }
    }
    & > div {
      color: #1a1a1a;
      opacity: 0.5;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }
  }
  &__checkbox {
    display: block;
    position: relative;
    margin: 25px 0 0 0;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat 0 3px;
        color: #1a1a1a;
      }
    }
    & > div {
      display: block;
      position: relative;
      padding: 0 0 0 30px;
      background: url("../images/icon_checkbox.png") no-repeat 0 3px;
      color: rgba(26, 26, 26, 0.5);
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
    }
  }
  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 400;
  }
  &__row {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 50px;
  }
  &__button {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    padding: 10px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.m-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 700;
  }
  img,
  svg {
    display: block;
    max-width: 100%;
    margin: 10px auto;
  }
  &__city {
    display: block;
    margin: 5px 0 10px 0;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
  }
  &__place {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    margin: 25px 0 10px 0;
    opacity: 0.5;
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 400;
    a {
      color: #1a1a1a;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #e7796d;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #e7796d;
      text-decoration: none;
    }
  }
  &__link {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 45px 0 0 0;
    padding: 5px;
    border: 2px solid #e7796d;
    border-radius: 999rem;
    background: transparent;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: 100%;
      width: 270px;
      height: 2px;
      margin-left: 70px;
      background-color: #e7796d;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #e7796d;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .m-top-card {
    min-height: 100vh;
  }
  .m-top-card__image {
    top: 150px;
    height: calc(100vh - 150px);
  }
  #map {
    border-left: 1px solid #ffffff;
  }
}

@media (max-width: 1199px) {
  .m-home-reviews__link {
    display: none;
  }
  .m-consult__input input {
    width: 100%;
  }
  .m-home-services__title {
    margin-bottom: 20px;
    font-size: 26px;
    br {
      display: none;
    }
  }
  .m-header {
    background: #0b474d !important;
    &_transparent {
      background: #0b474d;
    }
  }
  .m-header__main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .m-header__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
  }
  .m-header__text {
    display: none;
  }
  .m-header__nav > li {
    display: block;
    width: 100%;
  }
  .m-header__nav li:hover > ul {
    display: none;
  }
  .m-header__top {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-align: center;
  }
  .m-header__right {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-align: center;
  }
  .m-header__info {
    margin: 0 5px 5px 5px;
  }
  .m-modal__content {
    padding: 40px 20px;
  }
  .m-modal__close {
    padding: 5px;
  }
  .m-modal__input input {
    padding: 16px;
  }
  .m-modal__button:after {
    display: none;
  }
  .m-modal__button {
    width: 100px;
    height: 100px;
  }
  .m-header__logo {
    margin: 5px 0;
  }
  .m-header__info {
    display: none;
  }
  .m-header__call {
    display: none;
  }
  .m-header__nav {
    display: none;
  }
  .m-header__mob {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  .m-header__toggle {
    display: inline-block;
    position: relative;
    padding: 0 0 6px 6px;
    filter: brightness(0) invert(1);
    z-index: 9;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1a1a1a;
      text-decoration: none;
    }
  }
  .m-header__basket {
    position: absolute;
    right: 0;
    top: -10px;
  }
  .m-top {
    height: auto;
    margin: 0;
  }
  .m-top-card__image {
    top: 15px;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
  }
  .m-top-card__title {
    height: 76px;
    font-size: 32px;
  }
  .m-top-card {
    padding: 277px 0 40px 0;
  }
  .m-top-card__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
  }
  .m-top-card__link:after {
    display: none;
  }
  .m-top .swiper-button-next,
  .m-top .swiper-button-prev {
    bottom: 0;
  }
  .m-home-services {
    padding: 40px 0;
  }
  .m-home-services-card__content {
    min-height: 350px;
    background: transparent;
  }
  .m-home-services-card__title {
    color: #ffffff;
  }
  .m-home-services-card__text {
    height: auto;
  }
  .m-home-services-card__image {
    filter: brightness(0) invert(1);
  }
  .m-consult {
    padding: 40px 0;
  }
  .m-consult__text {
    margin-bottom: 20px;
  }
  .m-consult__input input {
    padding: 18px;
  }
  .m-consult__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
  }
  .m-home-what {
    padding: 40px 0 5px 0;
  }
  .m-home-what__title {
    margin: 0 0 20px 0;
    font-size: 42px;
  }
  .m-home-what__wrap {
    margin: 0;
  }
  .m-home-what__subtitle {
    font-size: 26px;
  }
  .m-home-what__link {
    margin: 20px 0;
    &:after {
      display: none;
    }
  }
  .m-home-what img,
  .m-home-what svg {
    margin: 0 auto 20px auto;
  }
  .m-home-goods {
    padding: 40px 0;
  }
  .m-home-goods__title {
    margin-bottom: 20px;
  }
  .m-specs {
    padding: 40px 0;
  }
  .m-specs__title {
    margin: 0 0 20px 0;
  }
  .m-specs__content {
    min-height: auto;
  }
  .m-home-reviews {
    padding: 40px 0;
  }
  .m-home-reviews__header {
    align-items: center;
    padding: 0 0 20px 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    height: auto;
  }
  .m-home-contacts #map {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    height: 350px;
  }
  .m-home-contacts {
    padding: 30px 0 0 0;
  }
  .m-home-contacts__select select {
    width: 100%;
  }
  .m-home-contacts__select select {
    padding: 16px 40px 16px 22px;
  }
  .m-papers {
    padding: 40px 0;
  }
  .m-papers__content {
    min-height: auto;
    padding-bottom: 20px;
  }
  .m-papers__title {
    margin: 0 0 20px 0;
  }
  .m-papers-card {
    display: flex;
    margin: 0 auto;
  }
  .m-home-seo {
    padding: 40px 0;
  }
  .m-home-seo img,
  .m-home-seo svg {
    margin: 0 auto 20px auto;
  }
  .m-footer {
    padding: 40px 0 10px 0;
  }
  .m-footer__logo {
    margin-bottom: 20px;
  }
  .m-footer__subnav {
    margin-bottom: 30px;
  }
  .m-bottom > .container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .m-bottom__link {
    margin-bottom: 10px;
  }
  .m-bottom__pay img,
  .m-bottom__pay svg {
    margin-left: 3px;
  }
  .m-bottom__social a {
    margin: 10px 10px 0 0;
  }
  .m-breadcrumps {
    margin: 0;
    padding: 20px 0;
    &_wrapper {
      background: #00434a;
    }
  }
  .m-header {
    padding: 15px 0;
  }
  .m-header__row {
    border: 0;
  }
  .m-goods {
    padding: 30px 0;
  }
  .m-goods__title {
    margin: 0 0 20px 0;
    font-size: 32px;
  }
  .m-goods__sort {
    font-size: 14px;
  }
  .m-goods__radio {
    margin-left: 10px;
    & > div {
      font-size: 14px;
    }
  }
  .m-goods__header {
    padding-bottom: 30px;
  }
  .m-goods__subtitle {
    margin-bottom: 10px;
  }
  .m-goods__link {
    padding: 16px 0;
    font-size: 16px;
  }
  .m-home-goods__cards_page {
    padding-top: 20px;
  }
  .m-pagination {
    justify-content: center;
    padding: 20px 0;
  }
  .m-pagination li a {
    width: 32px;
    height: 32px;
    margin: 0 5px 5px 0;
    font-size: 16px;
  }
  .m-goods-tags {
    padding: 30px 0;
    &__title {
      font-size: 26px;
    }
  }
  .m-goods-tags-card {
    margin: 5px 5px 0 0;
    padding: 6px;
    font-size: 14px;
  }
  .m-goods-seo {
    padding: 30px 0;
    &__title {
      font-size: 26px;
    }
  }
  .m-good {
    padding: 30px 0;
  }
  .m-good__image {
    height: 300px;
    padding: 10px;
  }
  .m-good__title {
    margin: 20px 0;
    font-size: 32px;
  }
  .m-good__oldprice {
    margin-bottom: 10px;
  }
  .m-good__counter {
    margin: 10px 0 20px 0;
  }
  .m-good__button {
    width: 120px;
    height: 120px;
  }
  .m-tabs {
    padding: 30px 0;
  }
  .m-tabs__header li {
    margin-right: 20px;
    padding: 12px 0;
    font-size: 16px;
  }
  .m-tabs__content {
    padding: 20px 30px;
    font-size: 14px;
  }
  .m-tabs__content p {
    margin-top: 15px;
  }
  .m-more {
    padding: 30px 0;
  }
  .m-more__header {
    padding-bottom: 20px;
  }
  .m-more__title {
    margin: 0 0 10px 0;
  }
  .m-service {
    padding: 30px 0;
  }
  .m-service__image {
    height: 300px;
  }
  .m-service__title {
    margin: 20px 0;
    font-size: 32px;
  }
  .m-service__price {
    padding: 20px 0;
  }
  .m-service__button {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .m-another {
    padding: 30px 0;
  }
  .m-another__header {
    padding-bottom: 20px;
  }
  .m-another__title {
    margin: 0 0 10px 0;
  }
  .m-another-card {
    filter: none;
  }
  .m-learn {
    padding: 5px 0;
  }
  .m-learn__cards {
    padding: 20px 0 0 0;
  }
  .m-learn-card__image {
    height: 200px;
  }
  .m-learn-card__content {
    min-height: auto;
    padding: 20px;
  }
  .m-learn-card__row {
    align-items: center;
  }
  .m-specs__content {
    padding-bottom: 20px;
  }
  .m-learning {
    padding: 40px 0;
  }
  .m-learning__link {
    margin-top: 40px;
    &:after {
      display: none;
    }
  }
  .m-about__title {
    font-size: 36px;
  }
  .m-about__subtitle {
    font-size: 26px;
  }
  .m-about-seo {
    padding: 30px 0;
  }
  .m-about-seo__title {
    margin: 20px 0;
  }
  .m-about-card {
    min-height: auto;
    padding: 20px;
  }
  .m-specs_about .m-specs-card {
    margin-top: 25px;
  }
  .m-specs__reload {
    padding: 20px 0;
  }
  .m-gallery {
    padding: 30px 0;
  }
  .m-gallery-card {
    height: 300px;
  }
  .m-gallery__title {
    margin: 0 0 20px 0;
  }
  .m-courses {
    padding: 30px 0;
  }
  .m-courses__header {
    padding-bottom: 20px;
  }
  .m-courses__title {
    margin: 0 0 10px 0;
  }
  .m-buy {
    padding: 30px 0;
    &__image {
      display: none;
    }
  }
  .m-buy__info {
    display: none;
  }
  .m-buy__title {
    margin: 0 0 20px 0;
  }
  .m-buy__input {
    margin: 0 0 20px 0;
    input {
      padding: 16px;
    }
  }
  .m-buy__row {
    justify-content: flex-start;
  }
  .m-buy__button {
    width: 120px;
    height: 120px;
    margin: 20px 20px 0 0;
  }
  .m-article-content blockquote {
    padding: 20px;
  }
  .m-article {
    padding: 40px 0;
  }
  .m-article__title {
    font-size: 32px;
  }
  .m-basket {
    padding: 30px 0;
  }
  .m-basket__header {
    display: none;
  }
  .m-basket__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .m-basket-card {
    position: relative;
    padding: 4px;
  }
  .m-basket-card__info {
    margin-top: 15px;
  }
  .m-basket-card__input {
    width: 100%;
  }
  .m-basket-card__delete {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 5px;
    z-index: 5;
  }
  .m-basket__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
  }
  .m-basket__right {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    text-align: center;
  }

  .m-basket__final {
    margin: 40px 0;
  }
  .m-order {
    padding: 20px;
  }
  .m-order__subtitle {
    margin: 30px 0 10px 0;
  }
  .m-order__radio {
    margin: 15px 15px 5px 0;
  }
  .m-order__row {
    padding-top: 30px;
  }
  .m-order__button {
    width: 120px;
    height: 120px;
    margin: 20px 0;
  }
  .m-order__info {
    br {
      display: none;
    }
  }
  .m-contacts__link:after {
    display: none;
  }
  .m-contacts {
    padding: 40px 0;
    br {
      display: none;
    }
    img {
      margin: 30px auto 10px auto;
    }
  }
  .m-contacts__title {
    margin-bottom: 5px;
  }
  .m-contacts__city {
    margin: 30px 0 10px 0;
  }
  .m-contacts__link {
    margin: 20px 0 0 0;
  }
  .mob_order {
    order: 99;
  }
  .m-home-services-card__price {
    color: #ffffff;
  }
  .m-learning {
    min-height: auto;
  }
  .m-tabs__header li.current {
    color: #00434a;
    font-weight: 400;
  }
  .m-service__button {
    margin-top: 10px;
  }
  .m-service__price {
    flex: 0 0 auto;
  }
  .m-service__content {
    min-height: auto;
  }
  .m-tabs__header {
    justify-content: center;
    text-align: center;
  }
  .m-home-goods-card {
    margin: 0 auto;
    border: 1px solid #ffffff;
  }
  .m-pagination li:first-child a,
  .m-pagination li:last-child a {
    padding: 10px;
    img,
    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }
  .m-basket-card {
    .col-12 {
      position: static;
    }
  }
  .m-basket-card__delete {
    bottom: auto;
    top: 5px;
  }
  .m-season__title {
    margin: 20px 0;
    font-size: 32px;
  }
  .m-season__select {
    margin-bottom: 20px;
  }
  .m-season__price {
    margin: 0;
  }
  .m-season__hr {
    margin: 20px 0;
  }
  .m-season__input {
    margin-bottom: 20px;
  }
  .m-season__input input {
    padding: 16px;
  }
  .m-season__button {
    margin: 10px 10px 0 0;
  }
  .m-season__info {
    margin: 20px 0;
  }
  .m-top .swiper-button-next,
  .m-top .swiper-button-prev {
    bottom: 80px;
    left: auto;
    right: 0;
    filter: brightness(0) invert(1);
  }
  .m-top .swiper-button-prev {
    right: 70px;
  }
  .m_mob_image {
    margin: 20px auto 10px auto;
  }
}
